* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {
    width: 100vw;
    height: 100vh;
  
  }
  
  .header {
    background: #A963FF;
    padding: 5px 30px 0px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }
  
  .title{
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    font-size: 20px;
    line-height: 28px;
    font-style: italic;
    vertical-align: middle
  }

  input {
    width: 40% !important;
    height: 28px;
    margin-left: 50%;
    border-radius: 5px;
  }

  .imgPerfil {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: -220px;
  }

  .btn-secondary{
    background-color: #d7d7d7 !important;
    border-radius: 0px !important;
    outline: none;
    color: #000000 !important;
  }

  .caixaMenu{
    margin: 10%
  }

  .card-body{
    width: 100%;
    background-color: #e4e4e4 !important;
    height: 20% !important;
  }
  .inputPesquisa {
    width: 200%;
    height: 60%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
  }

  .page-link{
    color: #A963FF !important;
  }

  #caixaTitulo{
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #561f73;
    flex: none;
    text-align: Left;
  }