* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {
    width: 100vw;
    height: 100vh;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-left: 5%;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .logo:hover {
    opacity: 0.5;
    color: #fff;
  }
  
  nav {
    display: flex;
    justify-content: start;
    background: #A963FF;
    height: 5vh;
  }

  .btn-secondary{
    background-color: #d7d7d7 !important;
    border-radius: 0px !important;
    outline: none;
    color: #000000 !important;
  }

  .caixaMenu{
    margin: 10%
  }

  .card-body{
    width: 100%;
    background-color: #e4e4e4 !important;
    height: 20% !important;
  }

  .page-link{
    color: #A963FF !important;
  }

  #caixaTitulo{
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #561f73;
    flex: none;
    text-align: Left;
  }