* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {
    width: 100vw;
    height: 100vh;
  
  }
  
  .header {
    background: #A963FF;
    padding: 5px 30px 5px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .title{
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    font-size: 20px;
    line-height: 28px;
    font-style: italic;
  }

  input {
    width: 30% !important;
    margin-left: 10%;
    border-radius: 5px;
  }

  .imgPerfil {
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }

  h3 {
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    font-size: 15px;
    padding: 5px;
  }

  .perfilCaixa{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
