* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-left: 5%;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
  }
  
  .logo:hover {
    opacity: 0.5;
    color: #fff;
  }
  
  nav {
    display: flex;
    justify-content: start;
    background: #A963FF;
    height: 5vh;
  }

  .caixaTexto{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
  }

  #caixaTitulo{
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #561f73;
    flex: none;
    text-align: Left;
  }

  .form-control{
    width: 100%;
  }

  .btn-primary{
    background-color: #6E2594 !important;
    width: 200px;
  }

  .btn-secondary{
    background-color: #b3b3b3 !important;
    width: 200px;
  }

  .btn-caixa{
    display: flex;
    justify-content: space-between;
  }