* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {
    width: 100vw;
    height: 100vh;
  
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-left: 5%;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .logo:hover {
    opacity: 0.5;
    color: #fff;
  }
  
  nav {
    display: flex;
    justify-content: start;
    background: #A963FF;
    height: 5vh;
  }

  .caixaMenu{
    margin: 10%
  }

  .card-body{
    width: 100%;
    background-color: #e4e4e4 !important;
    height: 20% !important;
  }
  .inputPesquisa {
    width: 200%;
    height: 60%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
  }