* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {
    width: 100vw;
    height: 100vh;
  
  }
  
  .header {
    background: #A963FF;
    padding: 5px 30px 0px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .title{
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    font-size: 20px;
    line-height: 28px;
    font-style: italic;
  }

  input {
    width: 30% !important;
    height: 30px;
    margin-left: 50%;
    border-radius: 5px;
  }

  .imgPerfil {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: -270px;
  }

  .btn-secondary{
    background-color: #d7d7d7 !important;
    border-radius: 0px !important;
    outline: none;
    color: #000000 !important;
  }
  