<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" type="text/css" href="Template.css" media="screen" />
    <title>CABROO</title>
</head>

<body>
    <header class="header">
        <h1 class="title">CABROO</h1>
    </header>
    <div id="caixaLogin">
        <h3>Login</h3>
        <div>
            <label>Entre com seu email institucional</label>
            <input type="text" id="login" class="inputLogin">
        </div>
        <div>
            <label>Entre com sua senha</label>
            <input type="password" id="password" class="inputLogin">
        </div>
        <button></button>
    </div>
</body>

</html>