* {
  margin: 0;
  padding: 0;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-left: 5%;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.logo:hover {
  opacity: 0.5;
}

nav {
  display: flex;
  justify-content: start;
  background: #A963FF;
  height: 5vh;
}
