* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-left: 5%;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.logo:hover {
  opacity: 0.5;
  color: #fff;
}

nav {
  display: flex;
  justify-content: start;
  background: #A963FF;
  height: 5vh;
}

.btn-primary {
  background-color: #6E2594 !important;
  width: 200px;
}

.imagens {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

#caixaTitulo {
  font-weight: 500;
  font-size: 32px;
  color: #561f73;
  flex: none;
  text-align: center;
}

#textSobre {
  margin-bottom: 30%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  font-size: 20px;
  color: #000000;
  text-align: justify;
}