* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {
    width: 100vw;
    height: 100vh;
  
  }
  
  .header {
    background: #A963FF;
    padding: 5px 30px 0px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .title{
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    font-size: 20px;
    line-height: 28px;
    font-style: italic;
  }

  input {
    width: 30% !important;
    height: 30px;
    margin-left: 50%;
    border-radius: 5px;
  }

  .imgPerfil {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: -270px;
  }

  .btn-primary{
    background-color: #6E2594 !important;
    width: 200px;
  }

  .imagens{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
   }

   #caixaTitulo{
    font-weight: 500;
    font-size: 32px;
    color: #561f73;
    flex: none;
    text-align: center;
  }

  #textSobre{
    margin-bottom: 30%;
    margin-right: 5%;
    margin-top: 2%;
    margin-left: 5%;
    font-size: 20px;
    color: #000000;
    text-align: justify;
  }