* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {
    width: 100vw;
    height: 100vh;
  
  }
  
  .header {
    background: #A963FF;
    padding: 5px 30px 5px;
    color: #fff;
  }
  
  .title {
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    font-size: 20px;
    line-height: 28px;
    font-style: italic;
  }